<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Prima Elektronik - Kasir
    </title>
    <link href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700,800" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <link id="pagestyle" href="/assets/css/soft-ui-dashboard.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.5/dist/JsBarcode.all.min.js"></script>

</head>
<style>
    @media print {
        body {}

        @page {
            padding-top: 1cm;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 1cm;
            margin-right: 1cm;
        }

        .rmvBtn {
            visibility: collapse;
        }
    }
</style>

<body class="g-sidenav-show bg-gray-100" onload="myFunction()">
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
            navbar-scroll="true">
            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a>
                        </li>
                        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Kasir</li>
                    </ol>
                    <h6 class="font-weight-bolder mb-0">Kasir</h6>
                </nav>
                <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                    <ul class="navbar-nav  justify-content-end">
                        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                            <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                                <div class="sidenav-toggler-inner">
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="card">
                                <span class="mask bg-primary opacity-10 border-radius-lg"></span>
                                <div class="card-body p-3 position-relative">
                                    <div class="row">
                                        <div class="col-8 text-start">
                                            <h5 class="text-white font-weight-bolder mb-0 mt-3" th:text="${labaKotor}">
                                                Rp. 0
                                            </h5>
                                            <span class="text-white text-sm">Laba Kotor Hari ini</span>
                                        </div>
                                        <div class="col-4">
                                            <p class="text-white text-sm text-end font-weight-bolder mt-auto mb-0">Uang
                                                Masuk</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 mt-4 mt-md-0">
                            <div class="card">
                                <span class="mask bg-dark opacity-10 border-radius-lg"></span>
                                <div class="card-body p-3 position-relative">
                                    <div class="row">
                                        <div class="col-8 text-start">
                                            <h5 class="text-white font-weight-bolder mb-0 mt-3">
                                                Toko <span th:text="${toko}">1</span>
                                            </h5>
                                            <span class="text-white text-sm uppercase">Logged in as <span
                                                    th:text="${username}">User</span></span>
                                        </div>
                                        <div class="col-4">
                                            <p class="text-white text-sm text-end font-weight-bolder mt-auto mb-0">Info
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col-12">
                            <div class="card bg-transparent shadow-xl">
                                <div class="overflow-hidden position-relative border-radius-xl"
                                    style="background-image: url('/assets/img/curved-images/curved14.jpg');">
                                    <span class="mask bg-gradient-dark"></span>
                                    <div class="card-body position-relative z-index-1 p-3">
                                        <i class="fas fa-wifi text-white p-2"></i>
                                        <h5 class="text-white mt-4 mb-5 pb-2">
                                            4562&nbsp;&nbsp;&nbsp;1122&nbsp;&nbsp;&nbsp;4594&nbsp;&nbsp;&nbsp;7852</h5>
                                        <div class="d-flex">
                                            <div class="d-flex">
                                                <div class="me-4">
                                                    <p class="text-white text-sm opacity-8 mb-0">BCA</p>
                                                    <h6 class="text-white mb-0">M Hamam</h6>
                                                </div>
                                                <div>
                                                    <p class="text-white text-sm opacity-8 mb-0">Expires</p>
                                                    <h6 class="text-white mb-0">11/22</h6>
                                                </div>
                                            </div>
                                            <div class="ms-auto w-20 d-flex align-items-end justify-content-end">
                                                <img class="w-60 mt-2"
                                                    src="https://www.bca.co.id/-/media/Feature/Card/List-Card/Tentang-BCA/Brand-Assets/Logo-BCA/Logo-BCA_Putih.png"
                                                    alt="logo">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 mt-4 mt-lg-0">
                    <div class="card shadow h-100">
                        <div class="card-header pb-0 p-3">
                            <h6 class="mb-0">Menu</h6>
                        </div>
                        <div class="card-body pb-0 p-3">
                            <form role="form" action="/kasir/change-store" method="POST">
                                <div class="input-group">
                                    <span class="input-group-text text-body"><i class="fas fa-store"
                                            aria-hidden="true"></i></span>
                                    <input type="number" class="form-control text-center" id="toko" name="toko"
                                        th:value="${toko}" min="1" max="3">
                                </div>
                                <hr>
                                <div class="input-group">
                                    <button id="button" type="submit" name="submit"
                                        class="btn btn-primary w-100 rounded" value="ganti-toko">Ganti Toko</button>
                                </div>
                            </form>
                            <div class="input-group mt-3">
                                <form action="/logout" method="post" id="logoutForm" class="w-100">
                                    <button type="submit" class="btn btn-primary w-100 rounded">Keluar</button>
                                </form>
                            </div>

                            <div class="input-group">
                            </div>
                        </div>
                        <div class="card-footer pt-0 p-3 d-flex align-items-center">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header pb-0">
                            <div class="text-center">
                                <div id="interactive" class="w-100" allow="autoplay">
                                </div>
                            </div>
                            <div class="float-right text-end">
                                <a data-mdb-ripple-init class="btn btn-light text-capitalize border-0"
                                    data-mdb-ripple-color="dark" onClick="printDiv('printableArea')"><i
                                        class="fas fa-print text-primary"></i> &nbsp; Cetak & Bayar</a>
                            </div>
                        </div>
                        <hr class="border border-2">
                        <div class="card-body" id="printableArea">
                            <div id="tableResp" class="table-responsive">
                                <div class="text-center">
                                    <h3>Prima Elektronik</h3>
                                    <p class="text-muted">KIOS NO 12B. JL BARON, WNO<br />CABANG: JL KH AGUS SALIM
                                        (Timur Bangjo Kranon)<br />TELP: (0274)392092 / WA: 0895323089801</p>
                                    <hr>
                                </div>
                                <div class="row" style="text: size 12pt;">
                                    <div class="col-6">
                                        <div class="input-group mb-3 pl-2">
                                            <span class="input-group-text" id="basic-addon1">Kepada: </span>
                                            <input type="text" class="form-control" id="buyerName"
                                                placeholder="Nama Pembeli" onkeyup="saveName()">
                                        </div>
                                        <div class="input-group mb-3 pl-2" id="paymentMtdHead">
                                            <span class="input-group-text" id="basic-addon1">Pembayaran: </span>
                                            <select class="form-select" aria-label="Default select example"
                                                id="paymentMtd">
                                                <option value="CASH">Cash</option>
                                                <option value="QRIS">QRIS</option>
                                                <option value="TRANSFER">Transfer</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <ul>
                                            <li><span class="fw-bold">ID: </span><span
                                                    th:text="${transactionId}">-</span></li>
                                            <li><span class="fw-bold">Tanggal: </span><a id="date-nota"></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <table class="table" id="tablenota">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Nama Barang</th>
                                            <th>Jumlah</th>
                                            <th>@</th>
                                            <th>Total</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="inputTable">
                                            <td>#</td>
                                            <td>
                                                <input list="productSelects" class="form-control" id="productSelect"
                                                    onchange="getPrice(this.value)" name="productSelect"
                                                    placeholder="Nama Barang/ID">
                                                <datalist id="productSelects">
                                                    <option th:each="stock : ${allStocks}" th:if="${stock.qty > 0}"
                                                        th:value="${stock.id}"
                                                        th:text="${stock.name + ' (' + stock.qty + ')'}">
                                                    </option>
                                                </datalist>
                                            </td>
                                            <td><input class="form-control" type="number" id="hargaqty" placeholder="0"
                                                    min="1" onchange="updateQty(this.value)" /></td>
                                            <td id="hargasatuan" contenteditable="true">Rp. 0</td>
                                            <td id="hargatotal" contenteditable="true">Rp. 0</td>
                                            <td><button id="button" class="btn btn-primary" value=""
                                                    onclick="addToTable()">+</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <hr>
                                <b>
                                    <div class="input-group mb-2 mr-sm-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">Harga Total: Rp.</div>
                                        </div>
                                        <input type="text" class="form-control" id="totalAll" placeholder="0">
                                    </div>
                            </div>
                            </b>

                            <script>
                                window.addEventListener('load', function () { // onLoad Function
                                    n = new Date();
                                    y = n.getFullYear();
                                    m = n.getMonth() + 1;
                                    d = n.getDate();
                                    document.getElementById("date-nota").innerHTML = m + "/" + d + "/" + y;
                                    initScanner();
                                });

                                document.getElementById('buyerName').addEventListener('keyup', function () { // onKeyUp Name
                                    let buyerName = document.getElementById("buyerName").value;
                                    // console.log(buyerName);
                                    document.getElementById("buyerName").placeholder = buyerName;
                                });

                                document.getElementById('paymentMtd').addEventListener('change', function () { // onKeyUp Payment
                                    let paymentMtd = document.getElementById("paymentMtd").value;
                                    // console.log(paymentMtd);
                                    document.getElementById("paymentMtd").value = paymentMtd;
                                });

                                function getPrice(input) { //getPrice after select product
                                    console.log("Fetching price for: " + input);
                                    fetch("/api/stock/" + encodeURIComponent(input))
                                        .then(response => response.json())
                                        .then(data => {
                                            let price = data.priceFinal || data.pricefinal;
                                            document.getElementById('hargasatuan').innerHTML = "Rp. " + price.toLocaleString('id-ID');
                                            document.getElementById('hargaqty').value = "1";
                                            document.getElementById('hargatotal').innerHTML = "Rp. " + price.toLocaleString('id-ID');
                                            return "1";
                                        })
                                        .catch(err => {
                                            console.error("Fetch error:", err);
                                        });
                                }

                                function updateQty(input) { // update price after select quantity
                                    let harga = parseInt(document.getElementById('hargasatuan').innerHTML.replace(/[^\d]/g, ""));
                                    let total = Number(input) * Number(harga);
                                    document.getElementById('hargatotal').innerHTML = "Rp. " + total;
                                }

                                function addToTable() {
                                    let input = document.getElementById('productSelect').value;
                                    if (!input) return; // Prevent adding empty

                                    let qty = document.getElementById('hargaqty').value;
                                    let hargasatuan = parseInt(document.getElementById('hargasatuan').innerHTML.replace(/[^\d]/g, ""));
                                    let hargatotal = parseInt(document.getElementById('hargatotal').innerHTML.replace(/[^\d]/g, ""));

                                    const table = document.getElementById("tablenota").getElementsByTagName('tbody')[0];
                                    const rows = table.getElementsByTagName("tr");
                                    const noUrut = rows.length;

                                    fetch("/api/stock/" + encodeURIComponent(input))
                                        .then(response => response.json())
                                        .then(data => {
                                            const table = document.getElementById("tablenota").getElementsByTagName('tbody')[0];
                                            const newRow = table.insertRow();
                                            newRow.insertCell(0).textContent = noUrut;
                                            if (data.name) {
                                                newRow.insertCell(1).textContent = data.name;
                                            }
                                            else {
                                                newRow.insertCell(1).textContent = input;
                                            }
                                            newRow.insertCell(2).textContent = qty;
                                            newRow.insertCell(3).textContent = "Rp. " + hargasatuan;
                                            newRow.insertCell(4).textContent = "Rp. " + hargatotal;
                                            newRow.setAttribute('contenteditable', 'true');

                                            //button
                                            const hapusCell = newRow.insertCell(5);
                                            const btn = document.createElement("button");
                                            btn.textContent = "-";
                                            btn.className = "btn btn-primary rmvBtn";
                                            btn.id = "hapus-" + noUrut;
                                            btn.onclick = function () {
                                                hapusProduk(newRow);
                                            };
                                            hapusCell.appendChild(btn);

                                            //id
                                            const hiddenCell = newRow.insertCell(6);
                                            hiddenCell.textContent = input;
                                            hiddenCell.hidden = true;
                                            updateNomorBaris();

                                            // Clear input after adding
                                            document.getElementById('productSelect').value = '';
                                        })
                                        .catch(err => {
                                            console.error("Fetch error:", err);
                                        });
                                    updateTotal();
                                }

                                function hapusProduk(inputbutton) {
                                    inputbutton.remove();
                                    updateNomorBaris();
                                    updateTotal()
                                }

                                function updateNomorBaris() {
                                    const tbody = document.getElementById("tablenota").getElementsByTagName('tbody')[0];
                                    Array.from(tbody.rows).forEach((row, index) => {
                                        row.cells[0].textContent = index;
                                    });
                                }

                                function updateTotal() {
                                    const tbody = document.querySelector("#tablenota tbody");
                                    let total = 0;

                                    Array.from(tbody.rows).forEach(row => {
                                        const cellValue = row.cells[4].textContent.replace(/[^\d]/g, "");
                                        total += parseInt(cellValue || 0);
                                    });

                                    totalAll = total;
                                    document.getElementById("totalAll").value = totalAll;
                                    document.getElementById("totalAll").placeholder = totalAll;

                                    // Restart scanner after a delay
                                    setTimeout(initScanner, 2000);
                                }

                                function initScanner() {
                                    if (Quagga.initialized) {
                                        Quagga.stop();
                                    }

                                    Quagga.init({
                                        inputStream: {
                                            name: "Live",
                                            type: "LiveStream",
                                            target: document.querySelector('#interactive'),
                                            constraints: {
                                                width: 480,
                                                height: 320,
                                                facingMode: "environment" // Use rear camera
                                            },
                                        },
                                        decoder: {
                                            readers: [
                                                "ean_reader",
                                                "ean_8_reader",
                                                "code_128_reader",
                                                "code_39_reader",
                                                "upc_reader"
                                            ]
                                        },
                                    }, function (err) {
                                        if (err) {
                                            console.log(err);
                                            document.querySelector('#interactive').innerHTML = '<p class="text-danger">Kamera tidak dapat diakses.</p>';
                                            return;
                                        }
                                        console.log("Initialization finished. Ready to start");
                                        Quagga.start();
                                        Quagga.initialized = true;
                                    });

                                    Quagga.onDetected(function (result) {
                                        const code = result.codeResult.code;
                                        console.log("Detected code:", code);

                                        Quagga.stop(); // Stop scanning to prevent multiple adds

                                        // Process the code
                                        getPrice(code);

                                        // Wait a bit to get price then add
                                        setTimeout(function () {
                                            document.getElementById('productSelect').value = code;
                                            addToTable();
                                        }, 1000);
                                    });
                                }

                                function printDiv(divId) { //Tombol Cetak & Bayar
                                    if (confirm("Transaksi akan tercatat. Apakah anda yakin?")) {
                                        let paymentMtd = document.getElementById("paymentMtd").value;
                                        let paymentMtdHead = document.getElementById("paymentMtdHead");
                                        let hideheader = document.getElementById("inputTable");
                                        hideheader.remove();
                                        paymentMtdHead.remove();
                                        // class="table-responsive"
                                        let hideResp = document.getElementById("tableResp");
                                        hideResp.classList.remove('table-responsive');
                                        const myElement = document.getElementById('res');
                                        var printContents = document.getElementById(divId).innerHTML;
                                        var originalContents = document.body.innerHTML;
                                        document.body.innerHTML = printContents;
                                        const table = document.getElementById('tablenota');
                                        const rows = table.querySelectorAll('tbody tr');
                                        let data1 = [];
                                        let combinedData = {};
                                        let data2 = document.body.innerHTML;
                                        let data3 = document.getElementById("totalAll").placeholder;
                                        window.print();

                                        rows.forEach(row => {
                                            let cells = row.querySelectorAll('td');
                                            let rowData = {
                                                idbarang: cells[6].textContent,
                                                qty: cells[2].textContent
                                            };
                                            data1.push(rowData);
                                        });

                                        combinedData = {
                                            task: "saveTrans",
                                            dataBarang: data1,
                                            dataHTML: data2,
                                            dataTrans: data3,
                                            dataPayment: paymentMtd
                                        };
                                        // Post the data to a server
                                        saveTrans(combinedData);

                                    } else {
                                        console.log("Cancel Payment");
                                    }
                                }

                                function saveTrans(combinedData) {
                                    // Updated to point to Spring Boot endpoint
                                    fetch("/api/transactions/process", {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json',
                                        },
                                        body: JSON.stringify(combinedData)
                                    })
                                        .then(response => response.text())
                                        .then(data => {
                                            console.log(data);
                                            window.location.reload();
                                        })
                                        .catch(error => {
                                            console.error('Error fetching text:', error);
                                            window.location.reload();
                                        });
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer" id="footer">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-lg-6 mb-lg-0 pb-4">
                        <div class="copyright text-center text-sm text-muted text-lg-start">
                            © Prima Elektronik
                            <script>
                                document.write(new Date().getFullYear())
                            </script>,
                            made with <i class="fa fa-heart"></i> by
                            <a href="https://widifirmaan.github.io" class="font-weight-bold" target="_blank">W</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        </div>
    </main>
    <script src="/assets/js/core/popper.min.js"></script>
    <script src="/assets/js/core/bootstrap.min.js"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="/assets/js/soft-ui-dashboard.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>
</body>

</html>